.card {
    width: 75rem;
}

.ttk-bg {
    position: relative;
    overflow: hidden;
}

.ttk-bg::before {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-image: url("../images/kids-background-ttk.jpg");
    filter: blur(8px);
    -webkit-filter: blur(8px);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    z-index: -1;
    opacity: 0.5;
}

.services-bg {
    background-image: url("../images/services-bg.jpg");
    color: white;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 85vh;
    opacity: 0.8;
}